name: Rust

on:
  push:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy:
      matrix:
        os: [ macos-latest, windows-latest, ubuntu-latest ]
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install maturin
        run: |
          pip install maturin
          pip install virtualenv
          virtualenv sc2_helper_env          

      - if: matrix.os == 'windows-latest'
        run: ./sc2_helper_env/Scripts/activate.ps1
      - if: matrix.os == 'macos-latest'
        run: source sc2_helper_env/bin/activate
      - if: matrix.os == 'ubuntu-latest'
        run: source sc2_helper_env/bin/activate

      - name: Build the wheel
        run: maturin build --release

      - name: Upload the wheel artifact
        uses: actions/upload-artifact@v3
        with:
          name: wheel-${{ matrix.os }}-${{ matrix.python-version }}
          path: target/wheels/*.whl

  release:
    runs-on: ubuntu-latest
    needs: [ build ]
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v3
        with:
          path: wheel-artifacts

      - name: Copy all wheel files into dist/
        run: |
          find wheel-artifacts -name '*.whl' -exec cp -prv '{}' 'dist/' ';'

      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
